{% extends "IiMediasAdminBundle::_layout.html.twig" %}

{% block contentTitle %}Jeux Vidéo{% endblock contentTitle %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_videogames_videogame_index") }}">Jeux Vidéo</a></li>
{% endblock breadcrumb %}