<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="{% if currentApiTab == "local" %}active{% endif %}"><a href="{{ path("iimedias_videogames_admin_index") }}">Local</a></li>
    <li role="presentation" class="disabled"><a href="#">IGDB</a></li>
    <li role="presentation" class="{% if currentApiTab == "giantbomb" %}active{% endif %}"><a href="{{ path("iimedias_videogames_admingiantbomb_index") }}">GiantBomb</a></li>
    <li role="presentation" class="disabled"><a href="#">The Games DB</a></li>
    <li role="presentation" class="{% if currentApiTab == "gamekult" %}active{% endif %}"><a href="{{ path("iimedias_videogames_admingamekult_index") }}">GameKult</a></li>
    <li role="presentation" class="{% if currentApiTab == "gameblog" %}active{% endif %}"><a href="{{ path("iimedias_videogames_admingameblog_index") }}">GameBlog</a></li>
    <li role="presentation" class="{% if currentApiTab == "jeuxvideocom" %}active{% endif %}"><a href="{{ path("iimedias_videogames_adminjeuxvideocom_index") }}">JeuxVideo.com</a></li>
</ul>