<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="{% if currentSubTab == "games" %}active{% endif %}"><a href="{{ path("iimedias_videogames_admin_index") }}">Jeux</a></li>
    <li role="presentation" class="{% if currentSubTab == "platforms" %}active{% endif %}"><a href="{{ path("iimedias_videogames_admin_platforms") }}">Plates-formes</a></li>
    <li role="presentation" class="disabled"><a href="#">Sociétés</a></li>
</ul>
