{% extends "IiMediasVideoGamesBundle:Admin:index.html.twig" %}
{% trans_default_domain "admin" %}

{% block contentTitle %}{{ game.name }}{% endblock contentTitle %}
{% block contentSubTitle %}{{ "admin.videogames.games.view.headView" | trans }} #{{ game.id }}{% endblock contentSubTitle %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_videogames_admin_game", {gameId: game.id}) }}">{{ game.name }}</a></li>
{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ "admin.videogames.games.view.headView" | trans }}</h3>
                    <div class="box-tools pull-right">
                        <a href="{{ path("iimedias_videogames_admin_gameedit", {gameId: game.id}) }}" class="btn btn-warning btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i><span class="hidden-xs"> {{ "admin.videogames.edit" | trans }}</span></a>
                    </div>
                </div>
                <div class="box-body">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ "admin.videogames.games.view.headReleases" | trans }}</h3>
                    <div class="box-tools pull-right">
                        <a href="{{ path("iimedias_videogames_admin_releaseadd", {gameId: game.id}) }}" class="btn btn-success btn-sm"><i class="fa fa-plus" aria-hidden="true"></i><span class="hidden-xs"> {{ "admin.videogames.add" | trans }}</span></a>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Plate-forme</th>
                                <th>¤</th>
                            </tr>
                        </thead>
                        <tbody>
{% for release in game.releases %}
                            <tr>
                                <td>{{ release.id }}</td>
                                <td>{{ release.name }}</td>
                                <td>{{ release.platform.name }}</td>
                                <td><a href="{{ path("iimedias_videogames_admin_release", {gameId: game.id, releaseId: release.id}) }}" class="btn btn-primary"><span class="hidden-xs">Voir </span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></td>
                            </tr>
{% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
