{% extends "IiMediasAdminBundle::_layout.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_videogames_admin_index") }}"><i class="fa fa-gamepad" aria-hidden="true"></i><span class="hidden-xs"> Jeux Vidéo</span></a></li>
{% endblock breadcrumb %}

{% block content %}
    {% include "IiMediasVideoGamesBundle:Admin:_subTab.html.twig" with {currentSubTab: currentSubTab} %}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Liste des Jeux Vidéo</h3>
            <div class="box-tools pull-right">
                <a href="{{ path("iimedias_videogames_admin_gameadd") }}" class="btn btn-success btn-sm"><i class="fa fa-plus" aria-hidden="true"></i><span class="hidden-xs"> Ajouter</span></a>
            </div>
        </div>
        <div class="box-body">
            <p id="games-loading" style="text-align: center;"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" aria-hidden="true"></i></p>
            <table id="games-table" class="table table-striped hide">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>¤</th>
                    </tr>
                </thead>
                <tbody>
                {% for game in games %}
                    <tr>
                        <td>{{ game.id }}</td>
                        <td>{{ game.name }}</td>
                        <td><a href="{{ path("iimedias_videogames_admin_game", {gameId: game.id}) }}" class="btn btn-primary"><span class="hidden-xs">Voir </span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(function(){
            $("#games-table").DataTable({
                stateSave: true
            });
            $("#games-loading").hide();
            $("#games-table").removeClass("hide");
        });
    </script>
{% endblock scripts %}
