{% extends "IiMediasVideoGamesBundle:Admin:index.html.twig" %}

{% block contentTitle %}Ajouter un jeu{% endblock contentTitle %}

{% block breadcrumb %}
    {{ parent() }}
    {% if formMode == "edit" %}
    <li><a href="{{ path("iimedias_videogames_admin_platformedit", {platformId: platform.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i><span class="hidden-xs"> Editer</span></a></li>
    {% else %}
    <li><a href="{{ path("iimedias_videogames_admin_platformadd") }}"><i class="fa fa-plus" aria-hidden="true"></i><span class="hidden-xs"> Ajouter</span></a></li>
    {% endif %}
{% endblock breadcrumb %}

{% block content %}
    {% include "IiMediasVideoGamesBundle:Admin:_subTab.html.twig" with {currentSubTab: currentSubTab} %}

    <div class="box">
        <div class="box-header with-border"></div>
        <div class="box-body">
            {{ form_start(form, {attr: {class: "form-horizontal"}}) }}
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            {{ form_label(form.name, "Nom", {label_attr: {class: "col-xs-4 col-sm-3 col-md-2 col-lg-1"}}) }}
                            <div class="col-xs-8 col-sm-7 col-md-8 col-lg-10">
                                {{ form_widget(form.name, {attr: {class: "form-control", placeholder: "Nom"}}) }}
                            </div>
                            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
                                {{ form_widget(form.submit, {attr: {class: "btn btn-primary pull-right"}, label: "Ajouter"}) }}
                            </div>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{#%
    set apiSites = [
        { name: "GameKult", form: "gamekult_link_search", api:  "gamekult", search: "gamekult-search-results", link: "gamekult_link_ids" },
        { name: "GameBlog", form: "gameblog_link_search", api:  "gameblog", search: "gameblog-search-results", link: "gameblog_link_ids" },
        { name: "JeuxVideo.com", form: "jeuxvideocom_link_search", api:  "jeuxvideocom", search: "jeuxvideocom-search-results", link: "jeuxvideocom_link_ids" },
    ]
%#}
{#% for apiSite in apiSites %}
    {% if loop.index0 == 0 %}
        <div class="row hidden-xs">
    {% endif %}
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    {{ form_label(form[apiSite.form], "Lier avec " ~ apiSite.name, {label_attr: {class: "col-sm-12 col-md-12 col-lg-12"}}) }}
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-copy" type="button" data-to-id="{{ form[apiSite.form].vars.id }}"><i class="fa fa-clone" aria-hidden="true"></i></button>
                            </span>
                            {{ form_widget(form[apiSite.form], {attr: {class: "form-control search-game-api", placeholder: "Rechercher", "data-api-name": apiSite.api, "data-search-results": apiSite.search}}) }}
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button" data-to-id="{{ form[apiSite.form].vars.id }}"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div id="{{ apiSite.search }}" class="api-search-results">
                    <div class="api-search-linked">
                        <a href="#" class="search-api-game-entry">toto</a>
                        <a href="#" class="search-api-game-entry">tata</a>
                        <a href="#" class="search-api-game-entry">titi</a>
                    </div>
                    <div class="api-search-nolinked">
                        <a href="#" class="search-api-game-entry">toto</a>
                        <a href="#" class="search-api-game-entry">tata</a>
                        <a href="#" class="search-api-game-entry">titi</a>
                    </div>
                </div>
            </div>
    {% if loop.index0 % 3 == 2 or loop.last %}
        </div>
    {% endif %}
{% endfor %#}
{% endblock content %}


{% block scripts %}
    <style>
        .api-search-results .search-api-game-entry {
            display: block;
            background-color: #9E9E9E;
            margin-bottom: 10px;
{#            box-shadow: 0px 1px 2px 2px rgba(119, 119, 119, 0.75);#}
        }
        .api-search-results .api-search-linked .search-api-game-entry {
            background-color: #DCEDC8;
        }
        .api-search-results .api-search-nolinked .search-api-game-entry {
            background-color: #FFE0B2;
        }
        .api-search-results .api-search-nolinked .search-api-game-entry .btn {
            margin: 5px;
        }
    </style>

    {{ parent() }}
    <script id="search-api-game-entry" type="text/x-handlebars-template">
{% raw %}
        <div class="search-api-game-entry" data-id="{{{ id }}}"><button class="btn btn-success btn-xs" data-id="{{{ id }}}" data-name="{{{ name }}}">Lier</button>{{{ name }}}</div>
{% endraw %}
    </script>
    {#<script>#}
        {#$(function(){#}
            {#var tplApiGameEntry = Handlebars.compile($("#search-api-game-entry").html());#}
            {#$(".btn-copy").on("click", function(e){#}
                {#e.preventDefault();#}
                {#$("#" + $(this).data("to-id")).val($('#{{ form.name.vars.id }}').val());#}
                {#$("#" + $(this).data("to-id")).change();#}
            {#});#}
            {#$(".btn-search").on("click", function(e){#}
                {#e.preventDefault();#}
                {#$("#" + $(this).data("to-id")).change();#}
            {#});#}
            {#$(".search-game-api").on("change", function(e){#}
                {#var searchTerm    = $(this).val();#}
                {#var searchResults = $(this).attr("data-search-results");#}
                {#var apiSiteName   = $(this).attr("data-api-name");#}
                {#var pnApiSearch   = new PNotify({#}
                    {#title:    "Recherche sur API " + apiSiteName,#}
                    {#text:     "Recherche en cours des termes \"" + searchTerm + "\" dans l'API ou le site " + apiSiteName,#}
                    {#icon:     "fa fa-spinner fa-spin",#}
                    {#addclass: "stack-bottomright",#}
                    {#hide:     false,#}
                    {#type:     "info",#}
                    {#nonblock: {#}
                        {#nonblock: true,#}
                        {#nonblock_opacity: .2#}
                    {#},#}
                    {#buttons: {#}
                        {#show_on_nonblock: true#}
                    {#},#}
                    {#animate: {#}
                        {#animate: true,#}
                        {#in_class: 'bounceInDown',#}
                        {#out_class: 'hinge'#}
                    {#}#}
                {#});#}
                {#var searchNoLinked = "#" + searchResults + " .api-search-nolinked";#}
                {#$(searchNoLinked).html("<p style=\"text-align: center;\"><i class=\"fa fa-spinner fa-spin fa-2x\"></i></p>");#}
                {#$.ajax("{{ path("iimedias_videogames_admin_gameapisearch") }}", {data: {gameApiName: apiSiteName, search: searchTerm}, method: "post"})#}
                    {#.done(function(data, textStatus, jqXHR){#}
                        {#$(searchNoLinked).html("");#}
                        {#pnApiSearch.update({#}
                            {#icon: "fa fa-check",#}
                            {#type: "success",#}
                            {#text: data.api_games.length + " résultat" + ((data.api_games.length > 1) ? "s" : "") + " ont été trouvés pour les termes \"" + searchTerm + "\" dans l'API ou le site " + apiSiteName,#}
                            {#hide: true,#}
                        {#});#}
                        {#$.each(data.api_games, function(index,value){#}
                            {#$(searchNoLinked).append(tplApiGameEntry(value));#}
                        {#});#}
                        {#console.log(data);#}
                    {#})#}
                    {#.fail(function(jqXHR, textStatus, errorThrown){#}
                        {#pnApiSearch.update({#}
                            {#icon: "fa fa-close",#}
                            {#type: "error",#}
                            {#text: "Une erreur s'est produite, merci de recommencer plus tard",#}
                            {#hide: true,#}
                        {#});#}
                    {#});#}
            {#});#}
            {#$(".api-search-nolinked").on("click", "button", function(e){#}
                {#e.preventDefault();#}
                {#console.info($(this).attr("data-name"));#}
            {#});#}
        {#});#}
    {#</script>#}
{% endblock scripts %}
