{% extends "IiMediasVideoGamesBundle:Admin:index.html.twig" %}
{% trans_default_domain "admin" %}

{% block contentTitle %}{{ "admin.videogames.games.titleNamed" | trans({gameName: game.name}) }}{% endblock contentTitle %}
{% block contentSubTitle %}{% if formMode == "edit" %}{{ "admin.videogames.edit" | trans }}{% else %}{{ "admin.videogames.add" | trans }}{% endif %}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_videogames_admin_game", {gameId: game.id}) }}">{{ game.name }}</a></li>
    {% if formMode == "edit" %}
        <li><a href="{{ path("iimedias_videogames_admin_release", {gameId: game.id, releaseId: release.id}) }}">{{ release.platform.name }}</a></li>
        <li><a href="{{ path("iimedias_videogames_admin_releaseedit", {gameId: game.id, releaseId: release.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i><span class="hidden-xs"> {{ "admin.videogames.edit" | trans }}</span></a></li>
    {% else %}
        <li><a href="{{ path("iimedias_videogames_admin_releaseadd", {gameId: game.id}) }}"><i class="fa fa-plus" aria-hidden="true"></i><span class="hidden-xs"> {{ "admin.videogames.add" | trans }}</span></a></li>
    {% endif %}
{% endblock breadcrumb %}

{% block content %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">
            {% if formMode == "edit" %}
            {{ "admin.videogames.games.form.headEdit" | trans({gameName: game.name}) }}
            {% else %}
            {{ "admin.videogames.games.form.headAdd" | trans }}
            {% endif %}
            </h3>
        </div>
        <div class="box-body">
            {{ form_start(form, {attr: {class: "form-horizontal"}}) }}
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            {{ form_label(form.name, "admin.videogames.games.form.name" | trans, {label_attr: {class: "col-xs-4 col-sm-3 col-md-2 col-lg-1"}}) }}
                            <div class="col-xs-8 col-sm-6 col-md-7 col-lg-9">
                                {{ form_widget(form.name, {attr: {class: "form-control", placeholder: "admin.videogames.games.form.name" | trans}}) }}
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                                <div class="btn-group pull-right">
                                    {% if formMode == "edit" %}
                                    {% set submitLabel = "admin.videogames.games.form.submitEdit" | trans %}
                                    {% set cancelHref  = path("iimedias_videogames_admin_game", {gameId: game.id}) %}
                                    {% else %}
                                    {% set submitLabel = "admin.videogames.games.form.submitAdd" | trans %}
                                    {% set cancelHref  = path("iimedias_videogames_admin_index") %}
                                    {% endif %}
                                    <a href="{{ cancelHref }}" class="btn btn-default">{{ "admin.videogames.games.form.cancel" | trans }}</a>
                                    {{ form_widget(form.submit, {attr: {class: "btn btn-primary"}, label: submitLabel}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    {{ form_label(form.platformId, "admin.videogames.games.form.boxart" | trans, {label_attr: {class: "col-xs-4 col-sm-3 col-md-4 col-lg-2"}}) }}
                                    <div class="col-xs-8 col-sm-9 col-md-8 col-lg-10">
                                        {{ form_widget(form.platformId, {attr: {class: "form-control", placeholder: "admin.videogames.games.form.boxart" | trans}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    {{ form_label(form.boxart, "admin.videogames.games.form.boxart" | trans, {label_attr: {class: "col-xs-4 col-sm-3 col-md-4 col-lg-2"}}) }}
                                    <div class="col-xs-8 col-sm-9 col-md-8 col-lg-10">
                                        {{ form_widget(form.boxart, {attr: {class: "form-control", placeholder: "admin.videogames.games.form.boxart" | trans}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock content %}
