{% extends "IiMediasVideoGamesBundle:AdminGiantBomb:game.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_videogames_admingiantbomb_gamelink", {apiGiantBombGameId: apiGiantBombGame.id}) }}"><i class="fa fa-link"></i><span> {{ apiGiantBombGame.name }}</span></a></li>
{% endblock breadcrumb %}

{% block content %}
    {% include "IiMediasVideoGamesBundle:Admin:_apiTab.html.twig" with {currentApiTab: currentApiTab} %}
    {% include "IiMediasVideoGamesBundle:AdminGiantBomb:_subTab.html.twig" with {currentApiTab: currentSubTab} %}

    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock content %}

{#% block scripts %}
    {{ parent() }}
    <script>
        $(function(){
            $("#apiGiantBombGamesTable").DataTable();
            $("#apiGiantBombGamesLoading").hide();
            $("#apiGiantBombGamesTable").removeClass("hide");
        });
    </script>
{% endblock scripts %#}