{% extends "IiMediasVideoGamesBundle:AdminGiantBomb:index.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_videogames_admingiantbomb_game", {apiGiantBombGameId: apiGiantBombGame.id}) }}">{{ apiGiantBombGame.name }}</a></li>
{% endblock breadcrumb %}

{% block content %}
    {% include "IiMediasVideoGamesBundle:Admin:_apiTab.html.twig" with {currentApiTab: currentApiTab} %}
    {% include "IiMediasVideoGamesBundle:AdminGiantBomb:_subTab.html.twig" with {currentApiTab: currentSubTab} %}

    {% set months = ["", "Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"] %}

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2>Informations principales</h2>
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4"><b>ID</b></div>
                <div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">#{{ apiGiantBombGame.id }}</div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4"><b>Name</b></div>
                <div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">{{ apiGiantBombGame.name }}</div>
            </div>
{% if apiGiantBombGame.aliases | length > 0 %}
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4"><b>Alias</b></div>
                <div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">
{% for alias in apiGiantBombGame.aliases %}
                    {{ alias }}
                    {% if not loop.last %}<br />{% endif %}
{% endfor %}
                </div>
            </div>
{% endif %}
{% if apiGiantBombGame.originalReleasedAt is not null %}
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4"><b>Date de sortie Originale</b></div>
                <div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">{{ apiGiantBombGame.originalReleasedAt | date("j") ~ " " ~ months[apiGiantBombGame.originalReleasedAt | date("n")] ~ " " ~ apiGiantBombGame.originalReleasedAt | date("Y") }}</div>
            </div>
{% elseif apiGiantBombGame.expectedDayReleasedAt is not null %}
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4"><b>Date de sortie prévue</b></div>
                <div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">{{ apiGiantBombGame.expectedDayReleasedAt | date("j") ~ " " ~ months[apiGiantBombGame.expectedDayReleasedAt | date("n")] ~ " " ~ apiGiantBombGame.expectedDayReleasedAt | date("Y") }}</div>
            </div>
{% elseif apiGiantBombGame.expectedMonthReleasedAt is not null %}
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4"><b>Date de sortie prévue</b></div>
                <div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">{{ months[apiGiantBombGame.expectedMonthReleasedAt | date("n")] ~ " " ~ apiGiantBombGame.expectedMonthReleasedAt | date("Y") }}</div>
            </div>
{% elseif apiGiantBombGame.expectedQuarterReleasedAt is not null %}
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4"><b>Date de sortie prévue</b></div>
                <div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">???</div>
            </div>
{% elseif apiGiantBombGame.expectedYearReleasedAt is not null %}
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4"><b>Date de sortie prévue</b></div>
            <div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">{{ apiGiantBombGame.expectedYearReleasedAt | date("Y") }}</div>
        </div>
{% endif %}
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4"><b>Résumé</b></div>
                <div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">{{ apiGiantBombGame.summary }}</div>
            </div>
            <h2>Pochette</h2>
            <img src="{{ apiGiantBombGame.imageSuperUrl }}" alt="Pochette" class="img-responsive" style="margin-left: auto; margin-right: auto;" />
            <h2>Sorties</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Console</th>
                        <th>Région</th>
                        <th>Sortie</th>
                        <th>Pochette</th>
                    </tr>
                </thead>
                <tbody>
                {% for apiGiantBombGameRelease in apiGiantBombGame.apiGiantBombGameReleases %}
                    <tr>
                        <td>#{{ apiGiantBombGameRelease.id }}</td>
                        <td>{{ apiGiantBombGameRelease.name }}</td>
                        <td>{{ apiGiantBombGameRelease.apiGiantBombPlatform.name }}</td>
                        <td>{{ apiGiantBombGameRelease.apiGiantBombRegion.name }}</td>
                        <td>
                            {% if apiGiantBombGameRelease.originalReleasedAt is not null %}
                                {{ apiGiantBombGameRelease.originalReleasedAt | date("j") ~ " " ~ months[apiGiantBombGameRelease.originalReleasedAt | date("n")] ~ " " ~ apiGiantBombGameRelease.originalReleasedAt | date("Y") }}
                            {% elseif apiGiantBombGameRelease.expectedDayReleasedAt is not null %}
                                {{ apiGiantBombGameRelease.expectedDayReleasedAt | date("j") ~ " " ~ months[apiGiantBombGameRelease.expectedDayReleasedAt | date("n")] ~ " " ~ apiGiantBombGameRelease.expectedDayReleasedAt | date("Y") }}
                            {% elseif apiGiantBombGameRelease.expectedMonthReleasedAt is not null %}
                                {{ months[apiGiantBombGameRelease.expectedMonthReleasedAt | date("n")] ~ " " ~ apiGiantBombGameRelease.expectedMonthReleasedAt | date("Y") }}
                            {% elseif apiGiantBombGameRelease.expectedQuarterReleasedAt is not null %}
                                ???
                            {% elseif apiGiantBombGameRelease.expectedYearReleasedAt is not null %}
                                {{ apiGiantBombGameRelease.expectedYearReleasedAt | date("Y") }}
                            {% endif %}
                        </td>
                        <td>
                            <img src="{{ apiGiantBombGameRelease.imageThumbUrl }}" alt="pochette" />
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2>Liaison</h2>
{% if apiGiantBombGame.game is null %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="{{ path("iimedias_videogames_admingiantbomb_gamelink", {apiGiantBombGameId: apiGiantBombGame.id}) }}" class="pull-right btn btn-success"><i class="fa fa-link"></i> Lier</a>
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="btn-group pull-right">
                <a href="{{ path("iimedias_videogames_admingiantbomb_gamelink", {apiGiantBombGameId: apiGiantBombGame.id}) }}" class="btn btn-warning"><i class="fa fa-link"></i> Lier</a>
                <a href="{{ path("iimedias_videogames_admingiantbomb_gamelink", {apiGiantBombGameId: apiGiantBombGame.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i> Supprimer</a>
            </div>
            <b>#{{ apiGiantBombGame.game.id }}</b> {{ apiGiantBombGame.game.name }}
        </div>
    </div>
{% endif %}
            {{ apiGiantBombGame.description | raw }}
        </div>
    </div>
{% endblock content %}

{#% block scripts %}
    {{ parent() }}
    <script>
        $(function(){
            $("#apiGiantBombGamesTable").DataTable();
            $("#apiGiantBombGamesLoading").hide();
            $("#apiGiantBombGamesTable").removeClass("hide");
        });
    </script>
{% endblock scripts %#}