{% extends "IiMediasVideoGamesBundle:Admin:index.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_videogames_admingiantbomb_index") }}">GiantBomb</a></li>
    <li><a href="{{ path("iimedias_videogames_admingiantbomb_index") }}">Jeux</a></li>
{% endblock breadcrumb %}

{% block content %}
    {% include "IiMediasVideoGamesBundle:Admin:_apiTab.html.twig" with {currentApiTab: currentApiTab} %}
    {% include "IiMediasVideoGamesBundle:AdminGiantBomb:_subTab.html.twig" with {currentApiTab: currentSubTab} %}

    <p id="apiGiantBombGamesLoading" style="text-align: center;"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" aria-hidden="true"></i></p>
    <table id="apiGiantBombGamesTable" class="table hide">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Sortie</th>
                <th>¤</th>
            </tr>
        </thead>
        <tbody>
{% for apiGiantBombGame in apiGiantBombGames %}
            <tr>
                <td>{{ apiGiantBombGame.id }}</td>
                <td>
                    {{ apiGiantBombGame.name }}
                </td>
                <td>{% if apiGiantBombGame.originalReleasedAt is not null %}{{ apiGiantBombGame.originalReleasedAt | date("Y/m/d") }}{% endif %}</td>
                <td><a href="{{ path("iimedias_videogames_admingiantbomb_game", {apiGiantBombGameId: apiGiantBombGame.id}) }}" class="btn btn-primary"><span class="hidden-xs">Voir </span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></td>
            </tr>
{% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(function(){
            $("#apiGiantBombGamesTable").DataTable();
            $("#apiGiantBombGamesLoading").hide();
            $("#apiGiantBombGamesTable").removeClass("hide");
        });
    </script>
{% endblock scripts %}