{% extends "IiMediasVideoGamesBundle::_layout.html.twig" %}

{% block contentTitle %}Jeux Vidéo{% endblock contentTitle %}

{% block content %}
    toto
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="pull-right btn-group">
                    <a href="{#{ path("iimedias_project_project_add") }#}#" class="btn btn-default">Ajouter un Jeu Vidéo</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}