{% extends "IiMediasVideoGamesBundle:Admin:index.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_videogames_admingameblog_index") }}">GameBlog</a></li>
    <li><a href="{{ path("iimedias_videogames_admingameblog_index") }}">Jeux</a></li>
{% endblock breadcrumb %}

{% block content %}
    {% include "IiMediasVideoGamesBundle:Admin:_apiTab.html.twig" with {currentApiTab: currentApiTab} %}
    {% include "IiMediasVideoGamesBundle:AdminGameBlog:_subTab.html.twig" with {currentApiTab: currentSubTab} %}

    <p id="siteGameBlogGamesLoading" style="text-align: center;"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" aria-hidden="true"></i></p>
    <table id="siteGameBlogGamesTable" class="table hide">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Sortie</th>
                <th>¤</th>
            </tr>
        </thead>
        <tbody>
{% for siteGameBlogGame in siteGameBlogGames %}
            <tr>
                <td>{{ siteGameBlogGame.id }}</td>
                <td>
                    {{ siteGameBlogGame.name }}
                </td>
                <td>{% if siteGameBlogGame.releasedAt is not null %}{{ siteGameBlogGame.releasedAt | date("Y/m/d") }}{% endif %}</td>
                <td><a href="{{ path("iimedias_videogames_admingameblog_game", {siteGameBlogGameId: siteGameBlogGame.id}) }}" class="btn btn-primary"><span class="hidden-xs">Voir </span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></td>
            </tr>
{% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(function(){
            $("#siteGameBlogGamesTable").DataTable();
            $("#siteGameBlogGamesLoading").hide();
            $("#siteGameBlogGamesTable").removeClass("hide");
        });
    </script>
{% endblock scripts %}