{% extends "IiMediasVideoGamesBundle:Admin:index.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_videogames_adminjeuxvideocom_index") }}">JeuxVideo.com</a></li>
    <li><a href="{{ path("iimedias_videogames_adminjeuxvideocom_index") }}">Jeux</a></li>
{% endblock breadcrumb %}

{% block content %}
    {% include "IiMediasVideoGamesBundle:Admin:_apiTab.html.twig" with {currentApiTab: currentApiTab} %}
    {% include "IiMediasVideoGamesBundle:AdminJeuxVideoCom:_subTab.html.twig" with {currentApiTab: currentSubTab} %}

    <p id="siteJeuxVideoComGamesLoading" style="text-align: center;"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" aria-hidden="true"></i></p>
    <table id="siteJeuxVideoComGamesTable" class="table hide">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Sortie</th>
                <th>¤</th>
            </tr>
        </thead>
        <tbody>
{% for siteJeuxVideoComGame in siteJeuxVideoComGames %}
            <tr>
                <td>{{ siteJeuxVideoComGame.id }}</td>
                <td>
                    {{ siteJeuxVideoComGame.name }}
                </td>
                <td>{% if siteJeuxVideoComGame.releasedAt is not null %}{{ siteJeuxVideoComGame.releasedAt | date("Y/m/d") }}{% endif %}</td>
                <td><a href="{{ path("iimedias_videogames_adminjeuxvideocom_game", {siteJeuxVideoComGameId: siteJeuxVideoComGame.id}) }}" class="btn btn-primary"><span class="hidden-xs">Voir </span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></td>
            </tr>
{% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(function(){
            $("#siteJeuxVideoComGamesTable").DataTable();
            $("#siteJeuxVideoComGamesLoading").hide();
            $("#siteJeuxVideoComGamesTable").removeClass("hide");
        });
    </script>
{% endblock scripts %}