<ul class="nav nav-pills nav-justified">
    <li role="presentation" class="{% if currentSubTab == "games" %}active{% endif %}"><a href="{{ path("iimedias_videogames_admingiantbomb_index") }}">Jeux</a></li>
</ul>