{% extends "IiMediasVideoGamesBundle:Admin:index.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_videogames_admingamekult_index") }}">GameKult</a></li>
    <li><a href="{{ path("iimedias_videogames_admingamekult_index") }}">Jeux</a></li>
{% endblock breadcrumb %}

{% block content %}
    {% include "IiMediasVideoGamesBundle:Admin:_apiTab.html.twig" with {currentApiTab: currentApiTab} %}
    {% include "IiMediasVideoGamesBundle:AdminGameKult:_subTab.html.twig" with {currentApiTab: currentSubTab} %}

    <p id="siteGameKultGamesLoading" style="text-align: center;"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" aria-hidden="true"></i></p>
    <table id="siteGameKultGamesTable" class="table hide">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Sortie</th>
                <th>¤</th>
            </tr>
        </thead>
        <tbody>
{% for siteGameKultGame in siteGameKultGames %}
            <tr>
                <td>{{ siteGameKultGame.id }}</td>
                <td>
                    {{ siteGameKultGame.name }}
                </td>
                <td>{% if siteGameKultGame.frReleasedAt is not null %}{{ siteGameKultGame.frReleasedAt | date("Y/m/d") }}{% endif %}</td>
                <td><a href="{{ path("iimedias_videogames_admingamekult_game", {siteGameKultGameId: siteGameKultGame.id}) }}" class="btn btn-primary"><span class="hidden-xs">Voir </span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></td>
            </tr>
{% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(function(){
            $("#siteGameKultGamesTable").DataTable({
                "order": [[1, "asc"], [0, "asc"]]
            });
            $("#siteGameKultGamesLoading").hide();
            $("#siteGameKultGamesTable").removeClass("hide");
        });
    </script>
{% endblock scripts %}